In [3]:
import pandas as pd

def load_data(filename=None):
    df = pd.read_csv(filename)
    return df

data_vacancies = load_data(filename="Sub_Genre_df.csv")
data_vacancies

,Title,Main Genre,No. of Books,URLs
0,Architecture,"Arts, Film & Photography",100.0,https://www.amazon.in/gp/bestsellers/books/131...
1,Cinema & Broadcast,"Arts, Film & Photography",100.0,https://www.amazon.in/gp/bestsellers/books/131...
2,Dance,"Arts, Film & Photography",100.0,https://www.amazon.in/gp/bestsellers/books/131...
3,Design & Fashion,"Arts, Film & Photography",100.0,https://www.amazon.in/gp/bestsellers/books/131...
4,Museums & Museology,"Arts, Film & Photography",100.0,https://www.amazon.in/gp/bestsellers/books/131...
...,...,...,...,...
324,Illustrated Books,Travel,100.0,https://www.amazon.in/gp/bestsellers/books/131...
325,Specialty Travel,Travel,100.0,https://www.amazon.in/gp/bestsellers/books/145...
326,Transport,Travel,100.0,https://www.amazon.in/gp/bestsellers/books/229...
327,Travel & Holiday Guides,Travel,100.0,https://www.amazon.in/gp/bestsellers/books/131...
328,Travel Writing,Travel,100.0,https://www.amazon.in/gp/bestsellers/books/131...

In [ ]:
    (0, 'The Complete Novel of Sherlock Holmes', 'Arthur Conan Doyle', 'Arts, Film & Photography', 'Cinema & Broadcast', 'Paperback', 169.0, 4.4, 19923.0, 'https://www.amazon.in/Complete-Novels-Sherlock-Holmes/dp/8175994312/ref=zg_bs_g_1318054031_d_sccl_1/000-0000000-0000000?psc=1'),